<ion-header>

  <ion-navbar>
    <ion-title>Test Application</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item *ngFor="let event of unsealBidEvents">
      <p>Block number: {{ event.blockNumber }}</p>
      <p>Address: {{ event.address }}</p>
      <ion-list>
        <ion-list-header>Topics</ion-list-header>
        <ion-item *ngFor="let topic of event.topics; let i=index">
          Topic {{i}}: {{ topic }}
        </ion-item>
      </ion-list>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
